body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

body {
    background: lightgrey;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1300px) {

    #card-1,
    #card-2,
    #card-3,
    #card-4,
    #card-5,
    #card-6,
    #card-7,
    #card-8,
    #card-9 {
        width: calc(45% - 20px);
    }
}


@media (max-width: 900px) {

    #card-1,
    #card-2,
    #card-3,
    #card-4,
    #card-5,
    #card-6,
    #card-7,
    #card-8,
    #card-9 {
        width: calc(85% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 400px) {

    #card-1,
    #card-2,
    #card-3,
    #card-4,
    #card-5,
    #card-6,
    #card-7,
    #card-8,
    #card-9 {
        width: calc(85% - 40px);
        height: 315px;
    }
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
}

.card {
    font-size: 70px;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: calc(25% - 60px);
    margin-left: 10px;
    margin-right: 10px;
    max-height: 315px;
    box-shadow: 0 8px 8px black;

}

#card-1 {
    background: white;
    color: red;
    border: 5px solid red;
}

#card-2 {
    background: darkblue;
    color: white;
    border: 5px solid white;
}

#card-3 {
    background: white;
    color: green;
    border: 5px solid red;
}

#card-4 {
    background: darkblue;
    color: white;
    border: 5px solid red;
}

#card-5 {
    background: orange;
    color: green;
    border: 5px solid white;
}

#card-6 {
    background: red;
    color: yellow;
    border: 5px solid yellow;
    animation: card6 4s infinite;
}

#card-7 {
    background: white;
    color: green;
    border: 5px solid red;
}

#card-8 {
    background: white;
    color: blue;
    border: 5px solid red;
}

#card-9 {
    background: blue;
    color: red;
    border: 5px solid white;
}

#img {
    object-fit: cover;
    height: 60%;
    width: 100%;
}

#p {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 12.5px;
}

#title {
    padding-bottom: 10px;
    font-size: 25px;
}

#card-1:hover,
#card-7:hover {
    transform: scale(1.1);
}

#card-2:hover,
#card-8:hover {
    background-color: darkslategrey;
    transition: background-color 0.5s;
}

#card-3:hover {
    outline-offset: 5px;
    outline: 5px solid white;
    background-color: red;
}

#card-9:hover {
    outline-offset: 5px;
    outline: 5px solid white;
    background-color: blue;
}

#card-4:hover {
    transform: rotate(10deg);
}

#card-5:hover {
    transform: skew(10deg);
}

#card-6:hover {
    animation-duration: 0s;
}

@keyframes card6 {
    0% {
        background-color: yellow;
        transform: scale(1);
    }

    25% {
        background-color: red;
        transform: scale(0.8);
    }

    50% {
        background-color: blue;
        transform: scale(0.9);
    }

    75% {
        background-color: green;
        transform: scale(0.7);
    }

    100% {
        background-color: orange;
        transform: scale(1);
    }
}